@charset "UTF-8";
/** 修改默认的uikit变量 */
@font-face {
  font-family: 'Gotham Rounded';
  src: url("../fonts/GothamRoundedBook.otf") format("truetype");
  font-weight: 300;
  font-style: normal; }

body {
  font-size: 12px;
  color: #696969;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  font-family: "Gotham Rounded", "微软雅黑", -apple-system, BlinkMacSystemFont, "宋体", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  font-weight: 300; }

.clear {
  clear: both; }

a {
  color: #369;
  text-decoration: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color;
  transition-property: color;
  font-family: "Gotham Rounded", "微软雅黑", -apple-system, BlinkMacSystemFont, "宋体", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important; }

a:hover {
  color: #AE508D;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: color;
  transition-property: color; }

.highlight {
  border-radius: 2px;
  max-height: 500px;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
  position: relative; }
  @media (min-width: 640px) {
    .highlight {
      border-radius: 5px; } }
  .highlight .line {
    height: 1.2em !important; }
    @media (min-width: 640px) {
      .highlight .line {
        height: 1.4em !important; } }
  .highlight pre {
    border: none;
    background-color: transparent; }
    .highlight pre span, .highlight pre div {
      font-size: 1em !important; }
  .highlight .comment, .highlight .quote {
    color: #5c6370;
    font-style: italic; }
  .highlight .doctag, .highlight .keyword, .highlight .formula {
    color: #c678dd; }
  .highlight .section, .highlight .name, .highlight .selector-tag, .highlight .deletion, .highlight .subst {
    color: #e06c75; }
  .highlight .literal {
    color: #56b6c2; }
  .highlight .string, .highlight .regexp, .highlight .addition, .highlight .meta-string, .highlight .attribute {
    color: #98c379; }
  .highlight .built_in, .highlight .class, .highlight .title {
    color: #e6c07b; }
  .highlight .attr,
  .highlight .variable,
  .highlight .template-variable,
  .highlight .type,
  .highlight .selector-class,
  .highlight .selector-attr,
  .highlight .selector-pseudo,
  .highlight .number {
    color: #d19a66; }
  .highlight .symbol,
  .highlight .bullet,
  .highlight .link,
  .highlight .meta,
  .highlight .selector-id,
  .highlight .title {
    color: #61aeee; }
  .highlight .emphasis {
    font-style: italic; }
  .highlight .strong {
    font-weight: bold; }
  .highlight .link {
    text-decoration: underline; }

#sidebar {
  background-color: #ffffff !important;
  color: #696969; }
  #sidebar .uk-offcanvas-close {
    color: #cccccc; }
    #sidebar .uk-offcanvas-close:hover {
      color: #000000;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
      -webkit-transition-property: color;
      transition-property: color; }
  #sidebar .menu-container {
    margin-top: 30px; }
    #sidebar .menu-container .extra-items {
      margin-top: 5px;
      border-top: 1px solid #E5E5E5;
      padding-top: 20px; }
    #sidebar .menu-container .uk-panel .uk-nav-header {
      color: #222;
      border-bottom: 1px solid #e5e5e5; }
    #sidebar .menu-container .uk-panel ul {
      margin-top: 0 !important;
      padding-top: 0 !important;
      margin-bottom: 10px !important; }
      #sidebar .menu-container .uk-panel ul .uk-nav-header {
        margin-bottom: 10px; }
      #sidebar .menu-container .uk-panel ul a {
        font-size: 0.9em; }
      #sidebar .menu-container .uk-panel ul li {
        height: 1.4em;
        line-height: 1.4em; }
  #sidebar ul {
    padding-left: 0; }
  #sidebar li {
    list-style-type: none;
    height: 2em;
    line-height: 2em; }
  #sidebar a {
    font-size: 1.2em;
    color: #369;
    text-decoration: none;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-transition-property: color;
    transition-property: color; }
  #sidebar a:hover {
    color: #d71718;
    text-decoration: none;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: color;
    transition-property: color; }

.toc {
  border-bottom: 1px solid #e5e5e5; }
  .toc ul {
    padding-left: 20px; }
    .toc ul li {
      list-style-type: none; }
      .toc ul li a {
        text-decoration: none !important; }
        .toc ul li a:before {
          content: "# "; }

.header-anchor {
  margin-right: 5px;
  text-decoration: none !important; }

li {
  list-style-type: none; }

* + h1, * + .uk-h1, * + h2, * + .uk-h2, * + h3, * + .uk-h3, * + h4, * + .uk-h4, * + h5, * + .uk-h5, * + h6, * + .uk-h6 {
  margin-top: 0; }

:not(pre) > code, :not(pre) > kbd, :not(pre) > samp {
  font-size: 0.875rem;
  font-family: Consolas, monaco, monospace;
  color: #ad4747;
  white-space: normal;
  padding: 2px 6px;
  background: #f8f8f8; }

/**
 * site header style
 */
.site-header {
  height: 40px;
  line-height: 40px;
  background: #d71718; }
  @media (min-width: 640px) {
    .site-header {
      height: 60px;
      line-height: 60px; } }
  .site-header .uk-navbar-container {
    background: transparent; }
  .site-header .uk-navbar-nav > li {
    padding-left: 5px !important;
    padding-right: 5px !important;
    word-spacing: 20px !important; }
  .site-header .dropdown-menu-item {
    word-spacing: normal;
    height: 30px; }
    .site-header .dropdown-menu-item a {
      height: 30px; }
  .site-header .uk-navbar-nav > li > a {
    letter-spacing: 1px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    color: #ffffff;
    height: 25px !important;
    padding-bottom: 5px !important;
    border-bottom: 2px solid transparent;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: border-bottom-color;
    transition-property: border-bottom-color; }
    .site-header .uk-navbar-nav > li > a:hover {
      border-bottom-color: #ffffff;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
      -webkit-transition-property: border-bottom-color;
      transition-property: border-bottom-color; }
  .site-header .uk-navbar-dropdown {
    padding: 0; }
  .site-header .nav-menu {
    color: #dddddd !important;
    width: 20px;
    padding: 0; }
    .site-header .nav-menu:hover {
      color: #ffffff !important; }

.logo img {
  height: 20px; }
  @media (min-width: 640px) {
    .logo img {
      height: 30px; } }

.logo-img {
  color: #ffffff;
  font-size: 2.0em; }

.logo-img:hover {
  color: #ffffff; }

/**
 * Site footer style
 */
.footer {
  background: #d71718;
  height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 40px;
  color: #cccccc; }
  .footer div {
    height: 20px;
    line-height: 20px; }
    .footer div a {
      color: #cccccc;
      font-size: 0.9em; }
    .footer div a:hover {
      color: #ffffff;
      text-decoration: none;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
      -webkit-transition-property: color;
      transition-property: color; }

.site-path div {
  height: 60px;
  line-height: 60px;
  margin-right: 5px;
  margin-top: -4px; }
